* { box-sizing:border-box; }

body {
	font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
}
h1 {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1, h3 { font-weight: 300; }

h1 { color: #636363; }

