@media all and (min-width: 480px) {
    .register {
      padding: 20px 0;
    }
  
    .register form {
      max-width: 380px;
      margin: 4em auto;
      padding: 3em 2em 2em 2em;
      background: #fafafa;
      border: 1px solid #ebebeb;
      box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    }
  }